/* User form styling */
@import "./../../variables/multithemes.scss";
@import "./../../variables/commonVariables.scss";
@import "./loginForm.scss";

.auth-form {
  /* height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important; */
  min-height: 100vh;
  font-size: 1.4em;
  @include themify($themes) {
    color: themed("colorWithWarningBackground");
  }
  > div {
    @include transition(0.5s ease);
  }

  &__back {
    background: url("/images/login.svg") no-repeat center center;
    > div {
      position: absolute;
      top: 0;
      a {
        margin-right: 10px;
      }
    }
  }

  &__button {
    background: unset;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
  }

  &__title {
    font-size: 4rem;
    font-weight: $fw-sb;
    text-transform: capitalize;
    margin-bottom: 1rem;
    @include themify($themes) {
      color: themed("darkColor");
    }
  }

  &__detail {
    margin-bottom: 2rem;
  }
}

.login-form {
  .auth-form__back {
    @include themify($themes) {
      background: themed("successBackgroundColor") url("/images/login.svg")
        no-repeat;
      background-position: center 20%;
      background-size: 80% auto;
      padding-top: 70%;
    }
  }
}

.signUp-form {
  .auth-form__back {
    @include themify($themes) {
      background: themed("primaryBackgroundColor") url("/images/signUp.svg")
        no-repeat center center;
    }
  }
}

.changePass-form {
  .auth-form__back {
    @include themify($themes) {
      background: transparent url("/images/changePass.svg") no-repeat center
        center;
    }
  }

  .auth-form__form {
    @include themify($themes) {
      background-color: themed("warningBackgroundColor");
    }
  }
}

.resetPass-form {
  .auth-form__back {
    @include themify($themes) {
      background: transparent url("/images/resetPass.svg") no-repeat center
        center;
    }
  }

  .auth-form__form {
    @include themify($themes) {
      background-color: themed("dangerBackgroundColor");
    }
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-lg-min) and (orientation: landscape),
  screen and (min-width: $screen-lg-min) {
  .auth-form {
    position: relative;
    height: 100vh;
    overflow: hidden;
    > div {
      position: absolute;
      height: 100%;
      @include transition(0.5s ease);
    }

    &__form {
      overflow: hidden;
      overflow-y: auto;
      width: 50%;
      height: 100%;
      left: 50%;
      z-index: 0;
      @include transition(0.5s ease);
    }

    &__back {
      width: 50%;
      left: 0;
      z-index: 1;
      @include transition(0.5s ease);
    }

    &__title {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }

    &__detail {
      margin-bottom: 1rem;
    }
  }

  .login-form {
    .auth-form__back {
      @include themify($themes) {
        background-size: 80% auto;
        background-position: center center;
        padding-top: unset;
      }
    }
  }

  .signUp-form {
    .auth-form__form {
      left: 0;
      @include transition(0.5s ease);
    }

    .auth-form__back {
      @include themify($themes) {
        background-size: 80% auto;
      }
      left: 50%;
      @include transition(0.5s ease);
    }
  }

  .changePass-form {
    .auth-form__form {
      width: 50%;
      left: 0;
      @include transition(0.5s ease);
    }
    .auth-form__back {
      @include themify($themes) {
        background-size: 90% auto;
        background-position: right bottom;
      }
      width: 50%;
      left: 50%;
      @include transition(0.5s ease);
    }
  }

  .resetPass-form {
    .auth-form__back {
      @include themify($themes) {
        background-size: 80% auto;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .auth-form {
    position: relative;
    background-color: unset;

    &__form {
      width: 40%;
      left: 60%;
    }

    &__back {
      width: 60%;
    }

    &__title {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    &__detail {
      margin-bottom: 3rem;
    }
  }

  .login-form {
    .auth-form__back {
      @include themify($themes) {
        background-size: 60% auto;
      }
    }
  }

  .signUp-form {
    .auth-form__back {
      @include themify($themes) {
        background-size: 60% auto;
      }
      left: 40%;
    }
  }

  .changePass-form {
    .auth-form__form {
      width: 60%;
    }
    .auth-form__back {
      @include themify($themes) {
        background-size: 90% auto;
      }
      width: 40%;
      left: 60%;
    }
  }

  .resetPass-form {
    .auth-form__back {
      @include themify($themes) {
        background-size: 60% auto;
      }
    }
  }
}

/* @media screen and (max-width: $screen-md-min) and (orientation: landscape) {
} */
