/* Validator Styling */

.validator {
  margin: 0;
  padding: 0;

  &__error-message {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 0;
    color: transparent;
    @include transition(0.3s, color 0s);

    &--show {
      max-height: 50px;
      opacity: 1;
      visibility: visible;
      padding-bottom: 1rem;
      @include transition(0.3s, color 0s);
    }
  }
}
