/*==========================================================
**Stylesheet contain variables for theme
**Multi theme depending on wrapper
==========================================================*/
$themes: (
  main: (
    backgroundColor: rgb(103, 184, 104),
    primaryBackgroundColor: #1e88e5,
    successBackgroundColor: #7caa2d,
    warningBackgroundColor: #f5e356,
    dangerBackgroundColor: #cf3721,
    colorWithPrimaryBackground: #ffffff,
    colorWithSuccessBackground: #ffffff,
    colorWithWarningBackground: #555555,
    colorWithDangerBackground: #ffffff,
    darkColor: #000000,
    lightGrayColor: #bbbbbb,
  ),
  dark: (
    backgroundColor: rgb(103, 184, 104),
    primaryBackgroundColor: #1e88e5,
    successBackgroundColor: #7caa2d,
    warningBackgroundColor: #f5e356,
    dangerBackgroundColor: #cf3721,
    colorWithPrimaryBackground: #ffffff,
    colorWithSuccessBackground: #ffffff,
    colorWithWarningBackground: #555555,
    colorWithDangerBackground: #ffffff,
    darkColor: #000000,
    lightGrayColor: #bbbbbb,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
